@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  font-family: "Nunito", sans-serif;
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

ul {
  border-radius: 10px;
  background-color: #181818;
}

.parent-ul {
  width: 30%;
  max-width: 30%;
  margin: 0 10px;
}

li {
  padding: 1px;
  list-style: square;
}

details {
  margin: 10px;
}

.title {
  padding: 10px;
  cursor: pointer;
  color: #30b09f;
  transition: 400ms all;
}

.title:hover {
  border-radius: 10px;
  background-color: #414141;
}

a,
a:visited {
  color: #4479e4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.section-li {
  transition: 100ms all;
}
