@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  font-family: "Nunito", sans-serif;
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}

.flex {
  display: flex;
  justify-content: space-between;
}

ul {
  border-radius: 10px;
  background-color: #181818;
}

li {
  padding: 1px;
  list-style: square;
}

a,
a:visited {
  color: #4479e4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.section-li {
  transition: 100ms all;
}

.section-li:hover {
  border-radius: 10px;
  background-color: #414141;
}
