* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "OpenSansLight";
}

html, body {
  height: 100%;
}

@font-face {
  font-family: "OpenSansLight";
  src: url('../fonts/OpenSans-Light.ttf');
}

.clear {
  clear: both;
}

.center {
  width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
}

.header {
  min-width: 1200px;
  width: 100%;
  height: 60px;
  background-color: #eb4034;
}

.header img {
  margin: 15px;
}

.container-banner {
  min-width: 1200px;
  width: 100%;
  height: 557px;
  background-image: url('../images/header_bg.png');
  background-size: cover;
  background-position: center;
}

.container-banner>.center {
  height: 100%;
}

.form {
  padding: 10px;
  width: 400px;
  height: calc(100% + 30px);
  float: right;
  position: relative;
  top: -15px;
  background-color: white;
  border: 10px solid rgba(120, 120, 120, 0.5);
  background-clip: padding-box;
}

.form h2 {
  font-weight: normal;
  color: #999999;
  font-size: 20px;
}

.input-container {
  margin-top: 20px;
}

.input-container span, .form p {
  font-size: 15px;
  width: 100%;
  color: #bbbbbb;
  display: inline-block;
  outline: none;
}

.input-container input[type=text] {
  margin-top: 10px;
  width: 344px;
  height: 55px;
  border: 2px solid #ccc;
  padding: 10px 5px;
}

.form .input-submit-center {
  text-align: center;
}

.form input[type=submit] {
  border: 0;
  display: inline-block;
  color: #bbbbbb;
  margin-top: 25px;
  width: 100px;
  height: 50px;
  background-color: #eb4034;
  font-family: "OpenSansLight";
  cursor: pointer;
}

.form input[type=submit]:hover {
  background-color: #cc372d;
}

.container-list {
  padding: 30px;
  margin-top: 100px;
  float: left;
  width: 519px;
  height: 270px;
  background-color: rgba(235, 64, 52, 0.7);
}

.container-list ul {
  list-style-position: inside;
}

.container-list ul li {
  margin-top: 10px;
  color: white;
}

.container-2 {
  min-width: 1200px;
  text-align: center;
  padding: 40px 0;
  background-color: rgb(220, 220, 220);
}

.container-2 h2 {
  font-weight: normal;
}

.container-2 p {
  width: 600px;
  margin: 15px 0;
  display: inline-block;
  text-align: justify;
}

.container-2 .arrow {
  position: relative;
  top: 60px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background-size: 100%;
  background-image: url('../images/arrow.png');
}

.section-1 {
  padding: 50px 0;
}

.section-1 h2 {
  text-align: center;
  color: #eb4034;
  font-weight: normal;
  font-size: 15px;
}

.container-section {
  margin-top: 40px;
  text-align: center;
}

.container-single {
  padding: 30px 10px;
  float: left;
  width: 33.33%;
}

.container-single p {
  padding: 30px;
}

.container-single img {
  width: 80px;
  height: 80px;
}

.container-single-text {
  padding: 20px 0;
}

.footer {
  padding: 10px;
  text-align: center;
  border-top: 3px solid #ddd;
}

.footer-text p {
  color: #888;
  margin: 10px 0;
}
