body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.square {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: beige;
  border: 2px solid gray;
}

.o {
  position: relative;
}

.o:after {
  content: "\1F6E1";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 50px;
  line-height: 100px;
}

.x {
  position: relative;
}

.x:after {
  content: "\2694";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 50px;
  line-height: 100px;
}

.resetbtn {
  width: 200px;
  height: 30px;
  background-color: #8ab7db;
  border: 2px solid white;
  color: white;
  transition: all 1s;
}

.resetbtn:hover {
  background-color: white;
  border: 2px solid #8ab7db;
  color: black;
}
