/* Ajustando todo o corpo do HTML */
body{
    margin:0;
    padding:0;
    font-family: 'Gill Sans', sans-serif;
}

/* Limpando flutuações (float) com div personalizada */
.clear{
    clear: both;
}

/* Ajustando paragrafos (p) especificamente da classe text1, usando display inline-block */
.text1 p{
    border: 1px solid black;
    padding: 5px;
    background-color: red;
    display: inline-block;
    margin: 10px;
}

/* Testando overflow na classe text2  */
.text2{
    border: 2px dashed red;
    background-color: yellow;
    width: 100px;
    height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Ajustando detalhes da div de nome especifico divfloat1 */
div.divfloat1{
    border: 2px solid black;
    background-color: #b425f2;
    width: 50%;
    overflow: auto;
}

/* Usando flutuação (float) em imagem */
img{
    float: left;
    width: 20%;
}

/* Personalizando estilo da lista */
ul{
    list-style: none;
}

/* Testando float com elementos das listas dentro da classe menufloat1 */
.menufloat li{
    border: 2px solid red;
    float: left;
    background-color: green;
    color: white;
    margin: 5px;
    padding: 5px;
}

/* Ajustando position e floats, para testar centralização */
div.card{
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    background-color: green;
    text-align: center;
    border: 2px solid red;
}

/* Testando centralização com line-height */
.cardcontent1{
    background-color: blue;
    line-height: 100px;
}

/* Testando centralização com transform e position absolute */
.cardcontent2{
    position: absolute;
    background-color: orange;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Testando centralização com padding */
.cardcontent3{
    float: left;
    padding: 50px 50px;
    background-color: green;
    text-align: center;
    border: 2px solid red;
}

/* Testando responsividade com porcentagens e position relative */
.responsive1{
    background-color: gray;
    margin: 10px auto;
    height: 200px;
    width: 50%;
    position: relative;
}

/* Textando responsividade em texto com porcentagens, overflow, fontsize, position absolute e transform */
.responsivetext1{
    font-size: 2vw;
    overflow: auto;
    text-align: justify;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    color: white;
    height: 90%;
    width: 50%;
}

/* Preparando classe para utilizar mediaqueries */
.mediaheader1{
    overflow: hidden;
    background-color: #b33f00;
    width: 80%;
    margin: 15px auto;
    padding: 15px;
}

/* Preparando classe para utilizar mediaqueries */
.medialogo1{
    float: left;
    color: white;
}

/* Preparando classe para utilizar mediaqueries */
.mediamenu1{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

/* Preparando classe para utilizar mediaqueries */
.mediamenu1 li{
    display: inline-block;
    color: white;
    margin-left: 15px;
    padding: 5px;
    border: 1px solid black;
}
/* Utilizando media query para modificar a posição de elementos ao redimensionar (Mobile, etc.) */
@media screen and (max-width: 700px) {
    .medialogo1{
        float: none;
        text-align: center;
    }
    
    .mediamenu1{
        margin-top: 10px;
        float: none;
        text-align: center;
    }
    
    .mediamenu1 li{
        display: block;
        margin: 10px 0;
        padding: 10px;
    }
}