{{> header}}

<h1>Seja bem-vindo(a), {{ userInfo.name }}</h1>
<p>Testando mustache-express</p>


{{! Checa se o valor é true ou falso para exibir os parâmetros }}
{{#show}}
{{! Imprime nome e idade dinamicamente }}
<p>Nome: {{ nome }}</p>
<p>Idade: {{ idade }}</p>
{{/show}}

<p>Sua lista de compras</p>
<ul>
  {{! Loop no array ingredients }}
  {{#ingredients}}
  <li>Nome: {{ nome }}</li>
  <ul>
    <li>Quantidade de {{ nome }}: {{ qt }}</li>
  </ul>
  {{/ingredients}}
</ul>

<hr />

<p>Sua lista de estudos</p>
<ol>
  {{! Loop no array study }}
  {{#study}}
  <li>{{.}}</li>
  {{/study}}
</ol>

<hr />

{{! Frase literal com 2 colchetes}}
{{ test }}
<br />
{{! Frase em negrito com 3 colchetes }}
{{{test}}}
<hr />

{{! Exibe a mensagem se o array estiver vazio }}
{{^ingredients2}}
<p>Não há ingredientes</p>
{{/ingredients2}}

{{! Testando template helper }}
{{#pageTitle}}
<p>Testando template helpers: {{ pageTitle }}</p>
{{/pageTitle}}
{{^pageTitle}}
<p>Não há titulo: {{ h.defaultPageTitle }}</p>
{{/pageTitle}}

<ul>
  {{#h.menu}}
  <li>
    <a href="{{ slug }}">{{ name }}</a>
  </li>
  {{/h.menu}}
</ul>

<hr />
<hr />

<p>Testando models com MongoDB</p>

<ul>
  {{#h.models}}
  <li>
    <a href="{{ action }}">{{ name }}</a>
  </li>
  {{/h.models}}
</ul>
