{{! Cabeçalho importado }}
{{> headerHome}}

{{#pageTitle}}
<h1>Página {{ pageTitle }}</h1>
{{/pageTitle}}
{{^pageTitle}}
<h1>Welcome</h1>
{{/pageTitle}}
<ul>
  {{#h.menu}}
  <li>
    <a href="{{ slug }}">{{ name }}</a>
  </li>
  {{/h.menu}}
</ul>

<hr />
<hr />

<ul>
  {{#h.models}}
  <li>
    <a href="{{ action }}">{{ name }}</a>
  </li>
  {{/h.models}}
</ul>

{{#posts}}
<a href="post/{{ slug }}">
  <h3>{{ title }}</h3>
</a>
<p>{{ body }}</p>
<a href="post/{{ slug }}/edit">Editar postagem</a>
<hr />
{{/posts}}
