* {
  color: #eee;
}
body {
  background-color: #111;
}
h1 {
  text-align: center;
  margin-top: 3rem;
  font-size: 3rem;
}
div {
  width: 50%;
  margin: 6rem auto;
  display: flex;
  justify-content: space-around;
}
a {
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #999;
  border-radius: 4px;
}
a:hover {
  color: #111;
  background-color: #fff;
}
input:not([type="submit"]) {
  width: 10rem;
  display: block;
  background-color: transparent;
  padding: 1rem;
}
input[type="submit"] {
  margin: 0 auto;
  width: 100%;
  display: block;
  background-color: #eee;
  color: #111;
}
input[type="submit"]:hover {
  background-color: #111;
  color: #eee;
}
::placeholder {
  color: #21a6a6;
}
