/* Colors */
:root {
  --orange: #d2872c;
  --gray: #766f68;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

header {
  padding: 10px;
  align-items: center;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

.header-title {
  color: var(--orange);
  font-weight: bold;
  float: left;
}

.header-menu {
  float: right;
  margin-right: 15px;
}

.header-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-menu li {
  display: inline;
  padding: 10px;
  cursor: pointer;
  color: var(--gray);
}

section {
  clear: both;
  padding: 30px 30px;
  background-image: url(assets/team.jpg);
  background-position: right bottom;
  background-size: 50%;
  background-repeat: no-repeat;
}

.section-title {
  font-size: 50px;
  padding-left: 25px;
  margin-bottom: 50px;
  color: var(--gray);
}

.section-paragraph {
  margin-bottom: 50px;
  padding-left: 25px;
  color: var(--gray);
}

.section-button {
  padding: 20px 75px;
  margin-left: 25px;
  background-color: var(--orange);
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  transition: 0.1s ease-in-out;
  font-size: 20px;
}

.section-button:hover {
  border: 1px solid var(--orange);
  background-color: white;
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
}
