.container {
	font-family: monospace;
	max-width: 400px;
	margin: auto;
	background-image: linear-gradient(red, orange);
	padding: 20px;
	border-radius: 10px;
}

.container h1 {
	text-align: center;
}

.container input {
	width: 100%;
	display: block;
	padding: 5px;
	margin: 10px 0;
	box-sizing: border-box;
}
