doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/styles.css" type="text/css")
    title P치gina inicial
  body
    h1 P치gina inicial, quer logar ou registrar um novo usu치rio?
    div
      a(href="/register") Registrar usu치rio 
      a(href="/login") Logar com conta existente  