doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/styles.css" type="text/css")
    title P치gina de registro
  body 
    h1 P치gina de registro
    div 
      form(action="/register" method="POST")
        input(type="text" name='name' placeholder="Digite o seu usu치rio")
        input(type="email" name="email" placeholder="Digite seu email")
        input(type="password" name="password" placeholder="Digite sua senha")
        input(type="password" name="repeat_password" placeholder="Repita sua senha")
        input(type="submit" value="Registrar usu치rio")